body {
    margin: 0;
    padding: 0;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(-4665deg, #6c3483, #58D68D);
    } 

    h1 {
    color:rgba(128, 0, 128, 0.613);

    }
    
.mitadtexto{
    width: 50%;
    height: 50%;
}

.contenido{
    display: flex;
    width: 80%;
    align-items: center;
    padding-left: 38%;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_register {
    font-style: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    background: linear-gradient(-48765435deg, #6c3483, #58D68D);
    border: 1px solid;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px silver;
    max-width: 300px;
    width: 100%;
    text-align: center;
}

.registro {
    border-radius: 5px;
    font-size: 1em;
    padding: 5px;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
}

.links:hover {
    color: cyan;
}

.botons {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    color: aqua;
    background: #6d348367;
    cursor: pointer;
}

a {
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
.botons:hover {
    background: linear-gradient(-48765deg, #6c3483, #58D68D);
    
}

 .boton{
    background-color: rgb(26, 20, 48);
}

.boton:hover{
    background-color: rgb(0, 3, 155);
   }

   @media only screen and (min-width: 769px){
    .contenido{
        flex-direction: row;
    }
}

