body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-4665deg, #6c3483, #58D68D);
    background-position: center;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inicio-estilo {
    font-style: serif;
    border: 1px solid black;
    background: linear-gradient(-145deg, #6c3483, #58D68D);

    border-radius: 25px;
    padding: 30px;
    max-width: 300px;
    width: 100%;
    text-align: center;
}

button {
    border-radius: 20px;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    background:cornflowerblue;
    color: silver;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(-48765435deg, #6c3483, #58D68D);
    
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color:aqua
}

input[type="text"],
input[type="password"] {
    border-radius: 5px;
    font-size: 1em;
    padding: 8px;
    width: 100%;
    background-color: silver;
}

h1 {
    font-style:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ;
    color: rgb(1, 0, 34);
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 769px) {
    .contenido {
        flex-direction: row; 
    }

    .imagen2 {
        order: 2; 
        margin-top: 0; 
    }
}
.boton a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 10px;
    border-radius: 10%; 
    background-color: rgb(26, 20, 48);
    color: aqua;
    cursor: pointer;
}


.boton a:focus {
    background-color: rgb(0, 3, 155);
    outline: none; 
}

.boton a:active {
    transform: translateY(2px); 
}